<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Grupo IAI{% endblock title %}</title>
  
    
    
    
    
    <link rel="shortcut icon" href="/static/icon/icono.ico" type="image/x-icon">
    <link rel="icon" href="/static/icon/icono.ico" type="image/x-icon">
 <link rel="stylesheet" href="/static/assets/compiled/css/app.css">
  <link rel="stylesheet" href="/static/assets/compiled/css/app-dark.css">

  {% block extra_css %}
  <!-- Espacio para CSS adicional de plantillas hijas -->
  {% endblock %}
  <style>
    .spinner {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    </style>






</head>

<body>
    <script src="/static/assets/extensions/sweetalert2/sweetalert2.all.js"></script>
    <script src="/static/assets/static/js/initTheme.js"></script>
    <div id="app">
        <div id="sidebar">
            <div class="sidebar-wrapper active">
                <!--Logo de la empresa -->
                <div style="text-align: center;">
                    <a href="{% url 'home' %}" onclick="mostrarSpinner()">
                        <br>
                        <img src="/static/img/logo3.png" alt="Logo" srcset="" width="250" style="border-radius: 15px;">
                    </a>
                </div> 
                <!--fin del logo de la empres -->
    <div class="sidebar-header position-relative">
        <div class="d-flex justify-content-between align-items-center">

          
            <div class="logo">
                 <!--  logo pequeño de la empresa 
                <a href="{% url 'usuarios' %}"><img src="/static/img/logo2.png" alt="Logo" srcset=""></a>-->
            </div>
           
            <div class="theme-toggle d-flex gap-2  align-items-center mt-2">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                    role="img" class="iconify iconify--system-uicons" width="20" height="20"
                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21">
                    <g fill="none" fill-rule="evenodd" stroke="yellow" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path
                            d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2"
                            opacity=".3"></path>
                        <g transform="translate(-210 -1)">
                            <path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>
                            <circle cx="220.5" cy="11.5" r="4"></circle>
                            <path d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"></path>
                        </g>
                    </g>
                </svg>
                <div class="form-check form-switch fs-6">
                    <input class="form-check-input  me-0" type="checkbox" id="toggle-dark" style="cursor: pointer">
                    <label class="form-check-label"></label>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                    role="img" class="iconify iconify--mdi" width="20" height="20" preserveAspectRatio="xMidYMid meet"
                    viewBox="0 0 24 24">
                    <path fill="white"
                        d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z">
                    </path>
                </svg>
            </div>
            <div class="sidebar-toggler  x">
                <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">
            <li class="sidebar-title">Menu</li>
           
   
            {% if ActiveDirectory is True %}
            
            <li
            class="sidebar-item ">
            <a href="{% url 'usuariosID' %}" class='sidebar-link' onclick="mostrarSpinner()">
                <i class="bi bi-shield-fill"></i>
                <span>Active Directory</span>
            </a>
            

           
            </li>


            <li
            class="sidebar-item {% if active_page == 'Nsolicitud' %}active{% endif %} ">
            <a href="{% url 'nuevousuario' %}" class='sidebar-link'onclick="mostrarSpinner()">
                <i class="bi bi-person-circle"></i>
                <span>Nuevo Personal AD </span>
            </a>
            
            
            </li>

            <li
            class="sidebar-item {% if active_page == 'ADsolicitud' %}active{% endif %} ">
            <a href="{% url 'personalNoContratada' %}" class='sidebar-link' onclick="mostrarSpinner()">
                <i class="bi bi-person-circle"></i>
                <span>Reclutamiento AD </span>
            </a>
            
            
            </li>
            {% else %}
            <li
            class="sidebar-item {% if active_page == 'solicitud' %}active{% endif %} ">
            <a href="{% url 'solicitud' %}" class='sidebar-link' onclick="mostrarSpinner()">
                <i class="bi bi-person-circle"></i>
                <span>Personal</span>
            </a>
            

            </li>
            
            <li
            class="sidebar-item {% if active_page == 'Nsolicitud' %}active{% endif %} " >
            <a href="{% url 'solicitudNuevos' %}" class='sidebar-link' onclick="mostrarSpinner()" >
                <i class="bi bi-person-circle"></i>
                <span>Nuevo Personal</span>
            </a>
            

            </li>

            {% endif %}

            </li>

        </ul>
    </div>
</div>
        </div>
        <div id="main" class='layout-navbar navbar-fixed'>
            <header>
                <nav class="navbar navbar-expand navbar-light navbar-top">
                    <div class="container-fluid">
                        <a href="#" class="burger-btn d-block">
                            <i class="bi bi-justify fs-3"></i>
                        </a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <!-- para mas funciones de correo y notificaciones -->
                            <!--<ul class="navbar-nav ms-auto mb-lg-0">
                                <li class="nav-item dropdown me-1">
                                    <a class="nav-link active dropdown-toggle text-gray-600" href="#" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class='bi bi-envelope bi-sub fs-4'></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                        <li>
                                            <h6 class="dropdown-header">Mail</h6>
                                        </li>
                                        <li><a class="dropdown-item" href="#">No new mail</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown me-3">
                                    <a class="nav-link active dropdown-toggle text-gray-600" href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                        <i class='bi bi-bell bi-sub fs-4'></i>
                                        <span class="badge badge-notification bg-danger">7</span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end notification-dropdown" aria-labelledby="dropdownMenuButton">
                                        <li class="dropdown-header">
                                            <h6>Notifications</h6>
                                        </li>
                                        <li class="dropdown-item notification-item">
                                            <a class="d-flex align-items-center" href="#">
                                                <div class="notification-icon bg-primary">
                                                    <i class="bi bi-cart-check"></i>
                                                </div>
                                                <div class="notification-text ms-4">
                                                    <p class="notification-title font-bold">Successfully check out</p>
                                                    <p class="notification-subtitle font-thin text-sm">Order ID #256</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="dropdown-item notification-item">
                                            <a class="d-flex align-items-center" href="#">
                                                <div class="notification-icon bg-success">
                                                    <i class="bi bi-file-earmark-check"></i>
                                                </div>
                                                <div class="notification-text ms-4">
                                                    <p class="notification-title font-bold">Homework submitted</p>
                                                    <p class="notification-subtitle font-thin text-sm">Algebra math homework</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <p class="text-center py-2 mb-0"><a href="#">See all notification</a></p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>-->
                            <div class="ms-auto"><!--Etiqueta DIV para posicionar todo a la derecha -->
                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="user-menu d-flex">
                                        <div class="user-name text-end me-3">
                                            <h6 class="mb-0 text-gray-600">{{nombre_usuario}}</h6>
                                            <p class="mb-0 text-sm text-gray-600">{{Categoria}}</p>
                                        </div>
                                        <div class="user-img d-flex align-items-center">
                                            <div class="avatar avatar-md">
                                                {% if foto is not none %} 
                                                <img src="{{foto}}">
                                                {% else%}
                                                <img src="/static/img/logo1.png">
                                               {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton" style="min-width: 11rem;">
                                   {# <!-- menu del usuario <li> #}
                                    {#    <h6 class="dropdown-header">Hello, John!</h6>#}
                                 {#   </li>#}
                                 {#   <li><a class="dropdown-item" href="#"><i class="icon-mid bi bi-person me-2"></i> My#}
                                  {#          Profile</a></li>#}
                                 {#   <li><a class="dropdown-item" href="#"><i class="icon-mid bi bi-gear me-2"></i>#}
                                  {#          Settings</a></li>#}
                                  {#  <li><a class="dropdown-item" href="#"><i class="icon-mid bi bi-wallet me-2"></i>#}
                                  {#          Wallet</a></li>#}
                                 {#   <li>#}
                                  {#      <hr class="dropdown-divider">#}
                                  {#  </li>-->#}
                                    <li><a class="dropdown-item" href="{% url 'salir' %}" onclick="return confirmarSalida();"> <i
                                                class="icon-mid bi bi-box-arrow-left me-2"></i> Logout</a></li>
                                </ul>
                            </div><!--fin de la etiqueta de DIV  ms-auto-->
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
            <div id="main-content">
                
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                {% block Encabezado %}
          
                {% endblock Encabezado %}
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'usuarios' %}">Usuarios</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {% block EncabezadoNav %}{% endblock EncabezadoNav %}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{% block EncabezadoCard%}{% endblock EncabezadoCard %} </h4>
            </div>
            <div class="card-body">
                {% if messages %}
                <div>
                    {% for message in messages %}
                        {% if forloop.last %}
                            <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %} 


                <div id="spinner-overlay" style="display:none; position:fixed; width:100%; height:100%; top:0; left:0; background:rgba(255,255,255,0.7); z-index:9999;">
                    <div style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">
                        <div class="spinner"></div>
                    </div>
                </div>
                {% block contenido %} 
                <!-- Aquí va el contenido específico de cada página -->
                {% endblock %}

            </div>
        </div>
      
    </section>
</div>

            </div>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p><span id="year"></span> Grupo IAI&copy;</p>
                    </div>
                    <div class="float-end">
                        <p>Creado con  <span class="text-danger"><i class="bi bi-pencil"></i></span>
                            por <a href="#">Manuel</a></p>
                    </div>
                </div>
</footer>
        </div>
    </div>
    <script src="/static/assets/static/js/components/dark.js"></script>
    <script src="/static/assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/static/assets/compiled/js/app.js"></script>
    <script src="/static/js/base.js"> </script>
    
    <script>
        function confirmarSalida() {
            Swal.fire({
                title: '¿Estás seguro?',
                text: "¿Quieres cerrar sesión?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{% url 'salir' %}";
                }
            });
    
            
            return false; // Previene la navegación inmediata
        }
        </script>
    {% block script %} 
    <!-- Scripts específicos de cada página -->
    {% endblock %}

</body>

</html>