
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="800">
        <tr>
            <td  bgcolor="#87212E">
                
                <h1 align="center" style="color: #ffffff;">Solicitud de Alta de Usuario</h1>
            </td>
        </tr>
        <tr>
            <td > 
                
            </td>   
        </tr>    
        <tr>
            <td bgcolor="#ffffff" style="padding: 20px;">
                <p>¡Hola {{ nombre }}!</p>
                <p>Esto es un ejemplo de correo electrónico con formato HTML.</p>
                <p>Tu puesto es: {{ puesto }}</p>
                <p>Gracias por utilizar nuestro servicio.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-size: 10px;"><strong style="color: #87212E;">CONFIDENCIALIDAD.</strong> Este e-mail y cualquiera de sus archivos anexos son confidenciales y pueden constituir información privilegiada. Si usted no es el destinatario adecuado, por favor,notifíquelo inmediatamente al emisor y elimínelo de su computadora, no revele estos contenidos a ninguna otra persona, no los utilice para otra finalidad, ni almacene o copie esta información en medio alguno.</p>

                <p style="font-size: 10px;"><strong style="color: #87212E;">CONFIDENTIALITY.</strong> This e-mail and any attachments thereof are confidential and may be privileged. If you are not a named recipient, please notify the sender immediately and delete it from your computer, do not disclose its contents to another person, use it for any purpose or store or copy the information in any medium</p>
            </td>
        </tr>
        <tr>
            <td align="center" bgcolor="#87212E">
                <p style="color: #ffffff;">© 2024 Grupo IAI. Todos los derechos reservados.</p>
            </td>
        </tr>
    </table>
