<div class="modal fade text-left" id="modalAlta" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel33" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel33">Solicitar Alta de Usuario </h4>
            <button type="button" class="close" data-bs-dismiss="modal"
                aria-label="Close">
                <i data-feather="x"></i>
            </button>
        </div>
        <form method="post" action="{% url 'enviar_correo' %}">
            {% csrf_token %}
            <div class="modal-body">
                <label for="nombre">Nombre: </label>
                <div class="form-group">
                    <input id="nombre" name="nombre" type="text" placeholder=""
                        class="form-control">
                </div>
                <label for="puesto">Puesto: </label>
                <div class="form-group">
                    <input id="puesto" name="puesto" type="text" placeholder=""
                        class="form-control">
                </div>
            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary"
                    data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Close</span>
                </button>
                <button type="submit" class="btn btn-primary ms-1"
                    data-bs-dismiss="modal">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Enviar</span>
                </button>
            </div>
        </form>
    </div>
</div>
</div>

    <!-- Modal -->
