<div class="modal fade text-left" id="modalAlta" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel33" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel33">Solicitar Usuario </h4>
            <button type="button" class="close" data-bs-dismiss="modal"
                aria-label="Close">
                <i data-feather="x"></i>
            </button>
        </div>
        <form method="post" action="{% url 'enviar_correo' %}">
            {% csrf_token %}
            <div class="modal-body">
                <label for="nombre">Nombre: </label>
                <div class="form-group">
                    <input id="nombre" name="nombre" type="text" placeholder=""
                        class="form-control">
                </div>
                <label for="puesto">Puesto: </label>
                <div class="form-group">
                    <input id="puesto" name="puesto" type="text" placeholder=""
                        class="form-control">
                </div>
                <div class="row"><!-- fin fila -->
                <label >Sistemas: </label>    
                <!-- Columna 1 -->
                <div class="col">
                  <!-- Opción 1 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="CONDOR" name="CONDOR">
                    <label class="form-check-label" for="CONDOR">CONDOR</label>
                </div>
                <!-- Opción 2 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="CostoV2" name="CostoV2">
                    <label class="form-check-label" for="CostoV2">CostoV2</label>
                </div>
                <!-- Opción 3 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="EIMyPs" name="EIMyPs">
                    <label class="form-check-label" for="EIMyPs">EIMyPs</label>
                </div>
                <!-- Opción 4 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Proveedores (Módulo LPG)" name="Proveedores (Módulo LPG)">
                    <label class="form-check-label" for="Proveedores (Módulo LPG)">Proveedores (Módulo LPG)</label>
                </div>
                <!-- Opción 5 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Reporting Service" name="Reporting Service">
                    <label class="form-check-label" for="Reporting Service">Reporting Service</label>
                </div>
                <!-- Opción 6 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Sap B1 Web" name="Sap B1 Web">
                    <label class="form-check-label" for="Sap B1 Web">Sap B1 Web</label>
                </div>

                </div><!-- fin Columna 1 -->
                <!-- Columna 2 -->
                <div class="col">
               
                <!-- Opción 7 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="SAPAI" name="SAPAI">
                    <label class="form-check-label" for="SAPAI">SAPAI</label>
                </div>
                <!-- Opción 8 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="SCORE" name="SCORE">
                    <label class="form-check-label" for="SCORE">SCORE</label>
                </div>
                <!-- Opción 9 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="SERCAP" name="SERCAP">
                    <label class="form-check-label" for="SERCAP">SERCAP</label>
                </div>
                <!-- Opción 10 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="SIROC" name="SIROC">
                    <label class="form-check-label" for="SIROC">SIROC</label>
                </div>
                 <!-- Opción 11 -->
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="opcion11" name="SISS">
                    <label class="form-check-label" for="SISS">SISS</label>
                </div>
                 <!-- Opción 12 -->
                 <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Equipo de Cómputo" name="Equipo de Cómputo">
                    <label class="form-check-label" for="Equipo de Cómputo">Equipo de Cómputo </label>
                </div>



                </div><!-- fin Columna 2 -->
                </div> <!-- fin fila -->
                <div class="mb-3">
                    <label for="observaciones" class="form-label">Observaciones :</label>
                    <textarea class="form-control" name="observaciones" id="observaciones" rows="3"></textarea>
                </div>
                



            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary"
                    data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Close</span>
                </button>
                <button type="submit" class="btn btn-primary ms-1"
                    data-bs-dismiss="modal">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Enviar</span>
                </button>
            </div>
        </form>
    </div>
</div>
</div>

    <!-- Modal -->
