<div class="modal fade text-left" id="modalAlta" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel33" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel33">Solicitar Alta de Usuario </h4>
            <button type="button" class="close" data-bs-dismiss="modal"
                aria-label="Close">
                <i data-feather="x"></i>
            </button>
        </div>
        <form method="post" action="{% url 'enviar_correo' %}">
            {% csrf_token %}
            <div class="modal-body">
                <label for="nombre">Nombre: </label>
                <div class="form-group">
                    <input id="nombre" name="nombre" type="text" placeholder=""
                        class="form-control">
                </div>
                <label for="puesto">Puesto: </label>
                <div class="form-group">
                    <input id="puesto" name="puesto" type="text" placeholder=""
                        class="form-control">
                </div>
                <div class="row">
                <label >Sistemas: </label>    
                <!-- Columna 1 -->
                <div class="col">
                  <!-- Opción 1 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="opcion1" name="opcion1">
                    <label class="form-check-label" for="opcion1">Opción 1</label>
                </div>
                <!-- Opción 2 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="opcion2" name="opcion2">
                    <label class="form-check-label" for="opcion2">Opción 2</label>
                </div>
                <!-- Opción 3 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="opcion3" name="opcion3">
                    <label class="form-check-label" for="opcion3">Opción 3</label>
                </div>
                <!-- Opción 4 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="opcion4" name="opcion4">
                    <label class="form-check-label" for="opcion4">Opción 4</label>
                </div>
                <!-- Opción 5 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="opcion5" name="opcion5">
                    <label class="form-check-label" for="opcion5">Opción 5</label>
                </div>
                </div>
                <!-- Columna 2 -->
                <div class="col">
                <!-- Opción 6 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="opcion6" name="opcion6">
                    <label class="form-check-label" for="opcion6">Opción 6</label>
                </div>
                <!-- Opción 7 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="opcion7" name="opcion7">
                    <label class="form-check-label" for="opcion7">Opción 7</label>
                </div>
                <!-- Opción 8 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="opcion8" name="opcion8">
                    <label class="form-check-label" for="opcion8">Opción 8</label>
                </div>
                <!-- Opción 9 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="opcion9" name="opcion9">
                    <label class="form-check-label" for="opcion9">Opción 9</label>
                </div>
                <!-- Opción 10 -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="opcion10" name="opcion10">
                    <label class="form-check-label" for="opcion10">Opción 10</label>
                </div>
                </div>
                </div>
                <div class="mb-3">
                    <label for="observaciones" class="form-label">Observaciones :</label>
                    <textarea class="form-control" name="observaciones" id="observaciones" rows="3"></textarea>
                </div>
                



            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary"
                    data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Close</span>
                </button>
                <button type="submit" class="btn btn-primary ms-1"
                    data-bs-dismiss="modal">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Enviar</span>
                </button>
            </div>
        </form>
    </div>
</div>
</div>

    <!-- Modal -->
