SECRET_KEY = 
KEY_RF =
KEY_GTKG =
ID_INTRANET = 
KFNRAPIAUTH =
KEYVALIDADJG =
SIGNAL = 
USGL = 

DB_NAME = 
DB_USER = 
DB_PASSWORD = 
DB_HOST = 
DB_PORT =

ActiveDirectory_SERVER = 
ActiveDirectory_PORT = 
ActiveDirectory_USER = 
ActiveDirectory_PASSWORD = 

EMAIL_HOST = 
EMAIL_PORT = 
EMAIL_USE_TLS = 
EMAIL_HOST_USER = 
EMAIL_HOST_PASSWORD = 