<!-- test_template.html -->
{%  load  component_tags %} 
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a mi sitio web</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>¡Bienvenido a mi sitio web!</h1>
        <p class="lead">Este es un ejemplo de cómo usar Bootstrap con Django.</p>
        <a class="btn btn-primary" href="#" role="button">Botón de ejemplo</a>
        
        
        
        <head>
            <title>My example calendar</title>
            {% component_css_dependencies %}
        </head>
        <body>
            {% component "calendar" clase="clase1" date="2023-22-11" %}
            {% component "calendar" clase="clase2" date="2022-15-21" %}
            {% component_js_dependencies %}
        </body>


    </div>
</body>

</html>