/* Estilo general del cuerpo de la página */
body {
    background-color: rgb(209, 208,206);
}

/* Estilos específicos para la sección de autenticación */
#auth {
    height: 100vh;
    overflow-x: hidden;
}

#auth #auth-left {
    padding: 5rem;
}

#auth #auth-left .auth-logo {
    margin-bottom: 7rem;
}

#auth #auth-left .auth-logo img {
    height: 3rem;
}

#auth #auth-left .auth-title {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #9d2d2d;
}

#auth #auth-left .auth-subtitle {
    font-size: 1.7rem;
    line-height: 2.5rem;
    color: #878785;
}

#auth #auth-right {
    height: 100%;
    background: url(/static/img/prole.png), linear-gradient(90deg, #87212e,#878785);
    background-size: cover;
}

/* Estilos para pantallas de diferentes tamaños (responsive design) */
@media screen and (max-width: 1399.9px) {
    #auth #auth-left {
        padding: 3rem;
    }
}

@media screen and (max-width: 767px) {
    #auth #auth-left {
        padding: 5rem;
    }
}

@media screen and (max-width: 576px) {
    #auth #auth-left {
        padding: 5rem 3rem;
    }
}

/* Estilos para el tema oscuro */
html[data-bs-theme=dark] #auth-right {
    background: url(/static/img/prole.png), linear-gradient(90deg, #9d2d2d, #878785);
}