<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo IAI</title>
    
    
    <link rel="shortcut icon" href="/static/icon/icono.ico" type="image/x-icon">
    <link rel="icon" href="/static/icon/icono.ico" type="image/x-icon">

  <link rel="stylesheet" href="/static/assets/compiled/css/app.css">
  <link rel="stylesheet" href="/static/assets/compiled/css/app-dark.css">
  <style>
    .spinner {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    </style>

</head>

<body>
    <script src="/static/assets/static/js/initTheme.js"></script>
    <nav class="navbar navbar-light">
        <div class="container d-block">
            <!--<a href="#"><i class="bi bi-chevron-left"></i></a>-->
            <a class="navbar-brand ms-4" href="#">
                <img src="/static/img/logo3.png">
            </a>
        </div>
    </nav>
    

<div class="container">
    <div class="row text-center">
        {% if es_super %}
        <div class="col-4">
            <div class="card" >
                <a href=" {% url 'solicitud' %}" onclick="mostrarSpinner()" >
                <img src="/static/img/solicitud.png" class="card-img-top" alt="Descripción de la imagen" width = "50%" >
            </a>
                <div class="card-body">
                  <h5 class="card-title">Solicitud de alta de usuario</h5>
                  
                  <a href=" {% url 'solicitud' %}" class="btn btn-primary" onclick="mostrarSpinner()" >Entrar</a>
                </div>
              </div>
    </div>
    
        <div class="col-4">
            <div class="card" >
                <a href="admin/" onclick="mostrarSpinner()">
                <img src="/static/img/IDIAI.png" class="card-img-top" alt="Descripción de la imagen" >
                 </a>
                <div class="card-body">
                  <h5 class="card-title">IDIAI</h5>
                  
                  <a href="admin/" class="btn btn-primary" onclick="mostrarSpinner()">Entrar</a>
                </div>
              </div>
        </div>

        <div class="col-4">
            <div class="card" >
                <a href=" {% url 'usuarios' %}" onclick="mostrarSpinner()">
                <img src="/static/img/PHYTONAD.png" class="card-img-top" alt="Descripción de la imagen"  >
            </a>
                <div class="card-body">
                  <h5 class="card-title">Active Directory</h5>
                  
                  <a href=" {% url 'usuarios' %}" class="btn btn-primary" onclick="mostrarSpinner()" >Entrar</a>
                </div>
              </div>
        </div>

        <div class="col-4">
            <div class="card" >
                <a href=" {% url 'importarusuarios' %}" onclick="mostrarSpinner()">
                <img src="/static/img/importusuario.png" class="card-img-top" alt="Descripción de la imagen"  >
            </a>
                <div class="card-body">
                  <h5 class="card-title">Importar Usuarios </h5>
                  
                  <a href=" {% url 'importarusuarios' %}" class="btn btn-primary" onclick="mostrarSpinner()">Entrar</a>
                </div>
              </div>
        </div>
{% comment %}
        <div class="col-4">
          <div class="card" >
              <a href=" {% url 'importarusuarios' %}" onclick="mostrarSpinner()">
              <img src="/static/img/importmodulo.png" class="card-img-top" alt="Descripción de la imagen"  >
          </a>
              <div class="card-body">
                <h5 class="card-title">Importar Modulos  </h5>
                <a href=" {% url 'importarusuarios' %}" class="btn btn-primary" onclick="mostrarSpinner()">Entrar</a>
              </div>
            </div>
      </div>
      {% endcomment %}
      <div class="col-4">
        <div class="card" >
            <a href=" {% url 'modulo_list' %}" onclick="mostrarSpinner()">
            <img src="/static/img/modulo.png" class="card-img-top" alt="Descripción de la imagen"  >
        </a>
            <div class="card-body">
              <h5 class="card-title"> Modulos  </h5>
              <a href=" {% url 'modulo_list' %}" class="btn btn-primary" onclick="mostrarSpinner()">Entrar</a>
            </div>
          </div>
    </div>
{% endif %}
    
    </div>
    <div id="spinner-overlay" style="display:none; position:fixed; width:100%; height:100%; top:0; left:0; background:rgba(255,255,255,0.7); z-index:9999;">
      <div style="position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);">
          <div class="spinner"></div>
      </div>
  </div>
  <footer>
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            <p><span id="year"></span> Grupo IAI &copy;</p>
        </div>
        <div class="float-end">
            <p>Creado por <a href="#">el Área de Desarrollo de
                    Sistemas de Software de  Grupo IAI</a></p>
        </div>
    </div>
</footer>
    <script src="/static/js/base.js"> </script>
    <script src="/static/assets/compiled/js/app.js"></script>
    
    
</body>

</html>