<table align="center" border="0" cellpadding="0" cellspacing="0" width="800">
    <tr>
        <td   align="center" style="padding: 5px;">
            
            <img src="https://intranet.grupo-iai.com.mx:432/Imagenes/LOGO_IAI.png" alt="Logo" srcset="" width="250" style="border-radius: 15px;">
        </td>
    </tr>
    
    <tr>
        <td  bgcolor="#87212E" >
            <h1 align="center" style="color: #ffffff;">{{titulo}} </h1>
            <h1 align="center" style="color: #ffffff;">{{Subtitulo}}</h1>
            
        </td>
    </tr>
    <tr>
        <td > 
            
        </td>   
    </tr>    
    <tr>
        <td bgcolor="#ffffff" style="padding: 5px;">
            <p>{{contenido|safe}}</p>
            <p>Por : {{Usuario}}</p>
        </td>
    </tr>
    <tr>
        <td style="padding: 5px;">
            <p style="font-size: 10px;"><strong style="color: #87212E;">CONFIDENCIALIDAD.</strong> Este e-mail y cualquiera de sus archivos anexos son confidenciales y pueden constituir información privilegiada. Si usted no es el destinatario adecuado, por favor,notifíquelo inmediatamente al emisor y elimínelo de su computadora, no revele estos contenidos a ninguna otra persona, no los utilice para otra finalidad, ni almacene o copie esta información en medio alguno.</p>
            <p style="font-size: 10px;"><strong style="color: #87212E;">CONFIDENTIALITY.</strong> This e-mail and any attachments thereof are confidential and may be privileged. If you are not a named recipient, please notify the sender immediately and delete it from your computer, do not disclose its contents to another person, use it for any purpose or store or copy the information in any medium</p>
        </td>
    </tr>
    <tr>
        <td align="center" bgcolor="#87212E" style="padding: 5px;"> 
            <p style="color: #ffffff;">© {{year}} Grupo IAI. Todos los derechos reservados.</p>
        </td>
    </tr>
</table>