{% extends "mazer\base.html" %}


{% block title%}
Dashboard - Activate Directory
{% endblock title %}

{% block extra_css %}

<link rel="stylesheet" href="/static/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="/static/assets/compiled/css/table-datatable-jquery.css">
<!-- Espacio para CSS adicional de plantillas hijas -->
{% endblock %}


{% block EncabezadoNav%}
Consulta
{% endblock EncabezadoNav %}


{% block EncabezadoCard%}
Usuarios de Activate Directory
{% endblock EncabezadoCard %}

{% block contenido %}
<div class="table-responsive ">

    <table id="myTable" class="table table-hover table-striped"> 
   <thead>
                <tr>
                    <th class="text-center">Acción</th>
                    <th class="text-center">Nombre de Usuario </th>
                    <th class="text-center">Nombre Completo </th>
                    <th class="text-center">Correo Electrónico</th>
                    <th class="text-center">Direccion</th>
                    <th class="text-center">Baja </th>
                </tr>
    </thead>
    <tbody>
     {% for user in users %}
     <tr>
        <td class="d-flex">
            <button type="button" class="btn icon btn-info btn-sm me-1" data-bs-toggle="modal" data-bs-target="#userModal"
            data-nombrePila ="{{ user.nombre_de_pila}}"
            data-apellidos ="{{ user.apellidos}}"
            data-puesto ="{{ user.puesto}}"
            data-nombreSesion ="{{ user.nombre_inicio_sesion}}"
            data-nombreUsuarioPrincipal ="{{ user.usuario_principal }}"
            onclick="showUserDetails(this);">
            <span class="text-white"><i class="bi bi-info-circle"></i></span>
            </button>
            <button type="button" class="btn icon btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#editUserModal" 
            data-nombre="{{ user.nombre }}"
            data-nombrePila ="{{ user.nombre_de_pila}}"
            data-apellidos ="{{ user.apellidos}}"
            data-puesto ="{{ user.puesto}}"
            data-nombreSesion ="{{ user.nombre_inicio_sesion}}"
            data-nombreCompleto ="{{ user.nombre_completo }}"
            data-email ="{{ user.correo }}"
            data-deparamento="{{ user.departamento}}"
            onclick="editUser(this);">
            <i class="bi bi-pencil"></i>
            </button>
           
        </td>
        <td>{{ user.nombre }}</td>
        <td>{{ user.nombre_completo}}</td>
        <td>{{ user.correo }}</td>
        <td>{{ user.departamento}}</td>
        <td class = "text-center">
            {{ user.userAccountControl}}
            {% if not user.esta_deshabilitado %}
            <button type="button" class="btn icon btn-danger btn-sm" onclick="desactivarUsuario('{{ user.nombre }}')">
                Desactivar
            </button>
        {% else %}
            <button type="button" class="btn icon btn-success " onclick="activarUsuario('{{ user.nombre }}')">
                Activar
            </button>
        {% endif %}

        </td>
        
    </tr>
                {% endfor %}
            </tbody>
</table> 

     



    </div>


    <div class="modal fade text-left" id="userModal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel4" data-bs-backdrop="false" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel4">Detalles del Usuario</h4>
                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                             <!-- Aquí van los detalles del usuario -->
                                             <div class="row align-content-center " >
                                                <div class="col-md-12">
                                                <p id="modalPuesto"></p> 

                                                </div>
                                                <div class="col-md-6"> 
                                                <p id="modalNombre"></p>
                                                
                                                </div>
                                                <div class="col-md-6"> 
                                                <p id="modalApellidos"></p>
                                                </div>
                                                <div class="col-md-12">    
                                                <p id="modalnombreSesion"></p>   
                                                <p id="modalNombreUsuarioPrincipal"></p>
                                                </div>
                                            </div>
                                            <!-- Agrega más campos según sea necesario -->
                                        </div>
                                        <div class="modal-footer">
                                           
                                            <button type="button" class="btn btn-primary ms-1" data-bs-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Aceptar</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade text-left" id="editUserModal" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel33" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
                                        role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel33">Editar Usuario</h4>
                                        <button type="button" class="close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                            <i data-feather="x"></i>
                                        </button>
                                    </div>
                                    <form action="{% url 'editar_usuario' %}" method="post">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                           

                                            <div class="row align-content-center " >
                                                
                                            <div class="col-6">
                                                <div class="mb-2">
                                                    <label for="nombre_inicio_sesion" class="form-label">Nombre de inicio de sesion de usuario:</label>
                                                    <input type="text" class="form-control" name="nombre_inicio_sesion" id="nombre_inicio_sesion" required>
                                                </div>
                                                <div class="mb-2">
                                                 <!--  <label for="nombre_usuario" class="form-label">Nombre de Usuario:</label>--> 
                                                    <input type="hidden" class="form-control" name="nombre_usuario" id="nombre_usuario" required >
                                                    
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                
                                            </div>    
                            
                                            <div class="col-6">
                                            <div class="mb-2">
                                                <label for="nombre_pila" class="form-label">Nombre de pila:</label>
                                                <input type="text" class="form-control" name="nombre_pila" id="nombre_pila" required >
                                            </div>
                                            </div>
                                            <div class="col-6">
                                            <div class="mb-2">
                                                <label for="apellido" class="form-label">Apellidos:</label>
                                                <input type="text" class="form-control" name="apellido" id="apellido" required>
                                            </div>
                                            </div>
                                            <div class="mb-2">
                                                <label for="nombre_completo" class="form-label">Nombre Completo:</label>
                                                <input type="text" class="form-control" name="nombre_completo" id="nombre_completo" required>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-2">Dirección:</label>
                                                    <select class="form-control select2" name="departamento" id="departamento" required>
        
                                                        <option value="None">Seleccione una Opción </option>
                                                        <option value="Administración">Administración</option>
                                                        <option value="Calidad, Ambiental, Seguridad y Salud">Calidad, Ambiental, Seguridad y Salud</option>
                                                        <option value="Proyectos Especiales">Proyectos Especiales</option>
                                                        <option value="Ingeniería">Ingeniería</option>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                            <div class="mb-2">
                                                <label for="puesto" class="form-label">Puesto :</label>
                                                <input type="text" class="form-control" name="puesto" id="puesto" required>
                                            </div>
                                            </div>
                            
                            
                                            <div class="mb-2">
                                                <label for="email" class="form-label">Correo electronico :</label>
                                                <input type="email" class="form-control" name="email" id="email" value="@grupo-iai.com.mx" required>
                                            </div>
                                          
                            
                                           
                                               

                                          

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light-secondary"
                                                data-bs-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Cerrar</span>
                                            </button>
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
   
                            {% endblock %}

    {% block script %} 
    
    <script src="/static/assets/extensions/jquery/jquery.min.js"></script>
    <script src="/static/assets/extensions/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/assets/extensions/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="/static/assets/static/js/pages/datatables.js"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable({
                "pageLength": 10,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "first":      "Primero",
                        "last":       "Último",
                        "next":       "Siguiente",
                        "previous":   "Anterior"
                    },
                    "loadingRecords": "Cargando...",
                    "processing":     "Procesando...",
                    "emptyTable":     "No hay datos disponibles en la tabla",
                    "aria": {
                        "sortAscending":  ": activar para ordenar la columna de manera ascendente",
                        "sortDescending": ": activar para ordenar la columna de manera descendente"
                    }
                }
            });
        });
      
            function showUserDetails(button) {
                // Utiliza data attributes para obtener la información
                var puesto = button.getAttribute('data-puesto');
                var nombreSesion = button.getAttribute('data-nombreSesion');
                var nombreUsuarioPrincipal = button.getAttribute('data-nombreUsuarioPrincipal');
                var nombrePila = button.getAttribute('data-nombrePila');
                var apellidos = button.getAttribute('data-apellidos');


                // ... obtén otros datos usando data attributes
        
                // Rellena los datos en el modal
                document.getElementById("modalPuesto").innerText = "Puesto: " + puesto;
                document.getElementById("modalnombreSesion").innerText = "Nombre de Sesión: " + nombreSesion;
                document.getElementById("modalNombreUsuarioPrincipal").innerText = "Usuario Principal: " + nombreUsuarioPrincipal;
                document.getElementById("modalNombre").innerText = "Nombre : " + nombrePila;
                document.getElementById("modalApellidos").innerText = "Apellidos : " + apellidos;

                
                // ... rellena otros campos del modal
        
                // Abre el modal
                var modal = new bootstrap.Modal(document.getElementById('userModal'));
                modal.show();
            }
            function editUser(button) {
                  // Utiliza data attributes para obtener la información
                    var nombre = button.getAttribute('data-nombre');
                    var nombrePila = button.getAttribute('data-nombrePila');
                    var apellidos = button.getAttribute('data-apellidos');
                    var puesto = button.getAttribute('data-puesto');
                    var nombreSesion = button.getAttribute('data-nombreSesion');
                    var nombreCompleto = button.getAttribute('data-nombreCompleto');
                    var email = button.getAttribute('data-email');
                    var departamento = button.getAttribute('data-deparamento');

                    // Rellena los campos del formulario en el modal
                    document.getElementById('nombre_usuario').value = nombre ;
                    document.getElementById('nombre_pila').value = nombrePila;
                    document.getElementById('apellido').value = apellidos;
                    document.getElementById('puesto').value = puesto;
                    document.getElementById('nombre_inicio_sesion').value = nombreSesion;
                    document.getElementById('nombre_completo').value = nombreCompleto ;
                    document.getElementById('email').value = email ;
                    document.getElementById('departamento').value = departamento ;
                    // Abre el modal
                    var modal = new bootstrap.Modal(document.getElementById('editUserModal'));
                    modal.show();
            }
              
            $('#userModal').on('hidden.bs.modal', function () {
                // Restaura el desplazamiento aquí
                document.body.style.overflow = 'auto';
            });
            

           
            // Esperar a que el DOM se cargue completamente
              document.addEventListener("DOMContentLoaded", function() {
                // Obtener el elemento del modal por su ID
                var userModal = document.getElementById('editUserModal');
        
                // Listener para el evento 'hidden.bs.modal', que se dispara después de que el modal se ha cerrado
               userModal.addEventListener('hidden.bs.modal', function () {
                    // Refrescar la página
                   location.reload();
               });
            });
          


            function activarUsuario(nombreUsuario) {
                $.ajax({
                    url: 'activar_usuario/' + nombreUsuario + '/',
                    method: 'POST',
                    data: {
                        'csrfmiddlewaretoken': getCSRFToken() // Asegúrate de obtener el token CSRF
                    },
                    success: function(response) {
                        alert("Usuario activado correctamente.");
                        location.reload(); // Recarga la página
                        // Aquí puedes agregar código para actualizar la UI según sea necesario
                    },
                    error: function(error) {
                        alert("Error al activar el usuario.");
                        // Manejo de errores
                    }
                });
            }
            
            function desactivarUsuario(nombreUsuario) {
                $.ajax({
                    url: 'desactivar_usuario/' + nombreUsuario + '/',
                    method: 'POST',
                    data: {
                        'csrfmiddlewaretoken': getCSRFToken() // Asegúrate de obtener el token CSRF
                    },
                    success: function(response) {
                        alert("Usuario desactivado correctamente.");
                        location.reload(); // Recarga la página
                        // Aquí puedes agregar código para actualizar la UI según sea necesario
                    },
                    error: function(error) {
                        alert("Error al desactivar el usuario.");
                        // Manejo de errores
                    }
                });
            }
            
            function getCSRFToken() {
                return document.querySelector('[name=csrfmiddlewaretoken]').value;
            }
        </script>
    {% endblock%}