{% extends "mazer\base.html" %}


{% block title%}
Dashboard - Activate Directory
{% endblock title %}

{% block EncabezadoNav%}
Consulta
{% endblock EncabezadoNav %}


{% block EncabezadoCard%}
Consulta de los Usuarios
{% endblock EncabezadoCard %}

{% block contenido %}
    <div class="table-responsive ">
        <br>


        <table id="myTable" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    
                    <th>Nombre de pila</th>
                    <th>Apellido</th>
                    <th>Nombre Completo </th>
                    <th>Correo Electrónico</th>

                   
                    <th>Departamento</th>
                    <th>Puesto</th>

                    <th>Nombre sesion</th>
                    
                    <th>Usuario Principal</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.nombre }}</td>
                    <td>{{ user.nombre_de_pila}}</td>
                    <td>{{ user.apellidos }}</td>
                    <td>{{ user.nombre_completo}}</td>
                    <td>{{ user.correo }}</td>

                   
                   <td>{{ user.departamento }}</td> 
                   <td>{{ user.puesto }}</td>

                    <td>{{ user.nombre_inicio_sesion}}</td>
                    
                    <td>{{ user.usuario_principal }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 



    </div>
   

    {% endblock %}

    {% block script %} 
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable({
                "pageLength": 10,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "first":      "Primero",
                        "last":       "Último",
                        "next":       "Siguiente",
                        "previous":   "Anterior"
                    },
                    "loadingRecords": "Cargando...",
                    "processing":     "Procesando...",
                    "emptyTable":     "No hay datos disponibles en la tabla",
                    "aria": {
                        "sortAscending":  ": activar para ordenar la columna de manera ascendente",
                        "sortDescending": ": activar para ordenar la columna de manera descendente"
                    }
                }
            });
        });
        </script>
    {% endblock%}