{% extends "mazer\base.html" %}


{% block title%}
Dashboard - Activate Directory
{% endblock title %}

{% block extra_css %}

<link rel="stylesheet" href="/static/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="/static/assets/compiled/css/table-datatable-jquery.css">


<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
<!-- Espacio para CSS adicional de plantillas hijas -->
{% endblock %}

{% block Encabezado %}
<h3>Bienvenido a Active Directory:</h3>
<p class="text-subtitle text-muted">Su plataforma para visualizar, crear y editar usuarios.</p>
{% endblock %}

{% block EncabezadoNav%}
Consulta
{% endblock EncabezadoNav %}


{% block EncabezadoCard%}
Usuarios de Activate Directory
{% endblock EncabezadoCard %}

{% block contenido %}

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="all-tab" data-bs-toggle="tab" href="#all" role="tab"
                aria-controls="all" aria-selected="false">Todos</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link " id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                aria-controls="home" aria-selected="true">Administración</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                aria-controls="profile" aria-selected="false">Ingeniería</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab"
                aria-controls="contact" aria-selected="false">DCASS</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pyes-tab" data-bs-toggle="tab" href="#pyes" role="tab"
                aria-controls="pyes" aria-selected="false">Proyectos Especiales</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="bajas-tab" data-bs-toggle="tab" href="#bajas" role="tab"
                aria-controls="bajas" aria-selected="false">Bajas</a>
        </li>
       
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab">
            <p class='my-2'>
                
                {% include 'tabla_template.html' with table_id='myTable1' users=usersAdmin %}



            </p>
        </div>


        
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <p class='my-2'>
                
                {% include 'tabla_template.html' with table_id='myTable2' users=usersIng %}
    
                </p>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <p class='my-2'>
                
                
                {% include 'tabla_template.html' with table_id='myTable3' users=usersDCASS %}
    
    
                </p>
        </div>
        <div class="tab-pane fade" id="pyes" role="tabpanel" aria-labelledby="contact-tab">
            <p class="mt-2">


                {% include 'tabla_template.html' with table_id='myTable4' users=usersPS %}





            </p>
        </div>


        <div class="tab-pane fade" id="bajas" role="tabpanel" aria-labelledby="bajas-tab">
            <p class="mt-2">

                {% include 'tabla_template.html' with table_id='myTable5' users=usersDown %}
   

            </p>
        </div>

        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
            <p class="mt-2">

                {% include 'tabla_template.html' with table_id='myTable6' users=users %}
   

            </p>
        </div>
    </div>







    <div class="modal fade text-left" id="userModal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel4" data-bs-backdrop="false" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel4">Detalles del Usuario</h4>
                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                             <!-- Aquí van los detalles del usuario -->
                                             <div class="row align-content-center " >
                                                <div class="col-md-12">
                                                <p id="modalPuesto"></p> 

                                                </div>
                                                <div class="col-md-6"> 
                                                <p id="modalNombre"></p>
                                                
                                                </div>
                                                <div class="col-md-6"> 
                                                <p id="modalApellidos"></p>
                                                </div>
                                                <div class="col-md-12">    
                                                <p id="modalnombreSesion"></p>   
                                                <p id="modalNombreUsuarioPrincipal"></p>
                                                </div>
                                            </div>
                                            <!-- Agrega más campos según sea necesario -->
                                        </div>
                                        <div class="modal-footer">
                                           
                                            <button type="button" class="btn btn-primary ms-1" data-bs-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Aceptar</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade text-left" id="editUserModal" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel33" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
                                        role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel33">Editar Usuario</h4>
                                        <button type="button" class="close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                            <i data-feather="x"></i>
                                        </button>
                                    </div>
                                    <form action="{% url 'editar_usuario' %}" method="post">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                           

                                            <div class="row align-content-center " >
                                                
                                            <div class="col-6">
                                                <div class="mb-2">
                                                    <label for="nombre_inicio_sesion" class="form-label">Nombre de inicio de sesion de usuario:</label>
                                                    <input type="text" class="form-control" name="nombre_inicio_sesion" id="nombre_inicio_sesion" required>
                                                </div>
                                                <div class="mb-2">
                                                 <!--  <label for="nombre_usuario" class="form-label">Nombre de Usuario:</label>--> 
                                                    <input type="hidden" class="form-control" name="nombre_usuario" id="nombre_usuario" required >
                                                    <input type="hidden" class="form-control" name="distinguished_name" id="distinguished_name" required >
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                
                                            </div>    
                            
                                            <div class="col-6">
                                            <div class="mb-2">
                                                <label for="nombre_pila" class="form-label">Nombre de pila:</label>
                                                <input type="text" class="form-control" name="nombre_pila" id="nombre_pila" required >
                                            </div>
                                            </div>
                                            <div class="col-6">
                                            <div class="mb-2">
                                                <label for="apellido" class="form-label">Apellidos:</label>
                                                <input type="text" class="form-control" name="apellido" id="apellido" required>
                                            </div>
                                            </div>
                                            <div class="mb-2">
                                                <label for="nombre_completo" class="form-label">Nombre Completo:</label>
                                                <input type="text" class="form-control" name="nombre_completo" id="nombre_completo" required>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-2">Dirección:</label>
                                                    <select class="form-control select2" name="departamento" id="departamento" required>
        
                                                        <option value="None">Seleccione una Opción </option>
                                                        <option value="Administración">Administración</option>
                                                        <option value="Calidad, Ambiental, Seguridad y Salud">Calidad, Ambiental, Seguridad y Salud</option>
                                                        <option value="Proyectos Especiales">Proyectos Especiales</option>
                                                        <option value="Ingeniería">Ingeniería</option>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                            <div class="mb-2">
                                                <label for="puesto" class="form-label">Puesto :</label>
                                                <input type="text" class="form-control" name="puesto" id="puesto" required>
                                            </div>
                                            </div>
                            
                            
                                            <div class="mb-2">
                                                <label for="email" class="form-label">Correo electronico :</label>
                                                <input type="email" class="form-control" name="email" id="email" value="@grupo-iai.com.mx" required>
                                            </div>
                                          
                            
                                           
                                               

                                          

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light-secondary"
                                                data-bs-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Cerrar</span>
                                            </button>
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            </div>
   
                            {% endblock %}

    {% block script %} 
    
    <script src="/static/assets/extensions/jquery/jquery.min.js"></script>
    <script src="/static/assets/extensions/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/assets/extensions/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="/static/assets/static/js/pages/datatables.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script>
        $(document).ready(function() {
            var config = {
                "pageLength": 10,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ usuarios por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay usuarios disponibles",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "emptyTable": "No hay datos disponibles en la tabla",
                    "aria": {
                        "sortAscending": ": activar para ordenar la columna de manera ascendente",
                        "sortDescending": ": activar para ordenar la columna de manera descendente"
                    }
                },
                "dom": 'Bfrtip',
                "buttons": [
                    {
                        "extend": "excelHtml5",
                        "text": "Exportar a Excel",
                        "titleAttr": "Exportar a Excel",
                        "className": "btn btn-primary",
                        "filename": function(){
                            var d = new Date();
                            var fecha = d.toISOString().slice(0,10); // Fecha en formato AAAA-MM-DD
                            var hora = d.getHours();
                            var min = d.getMinutes();
                            var seg = d.getSeconds();
                            // Formatea la hora para siempre tener dos dígitos
                            hora = (hora < 10 ? "0" : "") + hora;
                            min = (min < 10 ? "0" : "") + min;
                            seg = (seg < 10 ? "0" : "") + seg;
                            return 'Usuarios_AD_' + fecha + '_' + hora + min + seg; // Formato: Bitacora_AAAA-MM-DD_HHMMSS
                        }
                    }
                    // Puedes agregar más botones aquí si es necesario
                ],
            };
        
            $('#myTable1, #myTable2, #myTable3, #myTable4, #myTable5, #myTable6').DataTable(config);
        });
            function showUserDetails(button) {
                // Utiliza data attributes para obtener la información
                var puesto = button.getAttribute('data-puesto');
                var nombreSesion = button.getAttribute('data-nombreSesion');
                var nombreUsuarioPrincipal = button.getAttribute('data-nombreUsuarioPrincipal');
                var nombrePila = button.getAttribute('data-nombrePila');
                var apellidos = button.getAttribute('data-apellidos');


                // ... obtén otros datos usando data attributes
        
                // Rellena los datos en el modal
                document.getElementById("modalPuesto").innerText = "Puesto: " + puesto;
                document.getElementById("modalnombreSesion").innerText = "Nombre de Sesión: " + nombreSesion;
                document.getElementById("modalNombreUsuarioPrincipal").innerText = "Usuario Principal: " + nombreUsuarioPrincipal;
                document.getElementById("modalNombre").innerText = "Nombre : " + nombrePila;
                document.getElementById("modalApellidos").innerText = "Apellidos : " + apellidos;

                
                // ... rellena otros campos del modal
        
                // Abre el modal
                var modal = new bootstrap.Modal(document.getElementById('userModal'));
                modal.show();
            }
            function editUser(button) {
                  // Utiliza data attributes para obtener la información
                    var nombre = button.getAttribute('data-nombre');
                    var nombrePila = button.getAttribute('data-nombrePila');
                    var apellidos = button.getAttribute('data-apellidos');
                    var puesto = button.getAttribute('data-puesto');
                    var nombreSesion = button.getAttribute('data-nombreSesion');
                    var nombreCompleto = button.getAttribute('data-nombreCompleto');
                    var email = button.getAttribute('data-email');
                    var departamento = button.getAttribute('data-deparamento');
                    var distinguishedName = button.getAttribute('data-distinguishedName');

                    // Rellena los campos del formulario en el modal
                    document.getElementById('nombre_usuario').value = nombre ;
                    document.getElementById('nombre_pila').value = nombrePila;
                    document.getElementById('apellido').value = apellidos;
                    document.getElementById('puesto').value = puesto;
                    document.getElementById('nombre_inicio_sesion').value = nombreSesion;
                    document.getElementById('nombre_completo').value = nombreCompleto ;
                    document.getElementById('email').value = email ;
                    document.getElementById('departamento').value = departamento ;
                    document.getElementById('distinguished_name').value =distinguishedName;
                    // Abre el modal
                    var modal = new bootstrap.Modal(document.getElementById('editUserModal'));
                    modal.show();
            }
              
            $('#userModal').on('hidden.bs.modal', function () {
                // Restaura el desplazamiento aquí
                document.body.style.overflow = 'auto';
            });
            

           
            // Esperar a que el DOM se cargue completamente
              document.addEventListener("DOMContentLoaded", function() {
                // Obtener el elemento del modal por su ID
                var userModal = document.getElementById('editUserModal');
        
                // Listener para el evento 'hidden.bs.modal', que se dispara después de que el modal se ha cerrado
               userModal.addEventListener('hidden.bs.modal', function () {
                    // Refrescar la página
                   location.reload();
               });
            });
          


            function activarUsuario(nombreUsuario,numeroControlUsuario) {
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "¿Quieres activar este usuario?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, activar'
                }).then((result) => {
                    if (result.isConfirmed) {


                //inicio sin alerta sweetAlert
                            $.ajax({
                                url: 'activar_usuario/' + nombreUsuario + '/',
                                method: 'POST',
                                data: {
                                    'csrfmiddlewaretoken': getCSRFToken() // Asegúrate de obtener el token CSRF
                                },
                                success: function(response) {
                                 //   alert("Usuario  activado correctamente.");
                                    
                                    Swal.fire({
                                        position: "top-center",
                                        icon: "success",
                                        title: "Usuario  activado correctamente.",
                                        showConfirmButton: false,
                                        timer: 1500
                                      });
                                    location.reload(); // Recarga la página
                                    // Aquí puedes agregar código para actualizar la UI según sea necesario
                                },
                                error: function(error) {
                                 //   alert("Error al activar el usuario.");
                                 Swal.fire({
                                    position: "top-center",
                                    icon: "error",
                                    title: "Error al activar el usuario.",
                                    showConfirmButton: false,
                                    timer: 1500
                                  });
                                    // Manejo de errores
                                }
                            });
                //fin sin alerta sweetAlert
                    }
                });

            }
            
            function desactivarUsuario(nombreUsuario,numeroControlUsuario) {
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "¿Quieres Desactivar este usuario?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, Desactivar'
                }).then((result) => {
                    if (result.isConfirmed) {

               
               
               
                $.ajax({
                    url: 'desactivar_usuario/' + nombreUsuario + '/',
                    method: 'POST',
                    data: {
                        'csrfmiddlewaretoken': getCSRFToken() // Asegúrate de obtener el token CSRF
                    },
                    success: function(response) {
                        //alert("Usuario desactivado correctamente.");
                        Swal.fire({
                            position: "top-center",
                            icon: "success",
                            title: "Usuario  desactivado correctamente.",
                            showConfirmButton: false,
                            timer: 1500
                          });
                        location.reload(); // Recarga la página
                        // Aquí puedes agregar código para actualizar la UI según sea necesario
                    },
                    error: function(error) {
                       // alert("Error al desactivar el usuario.");
                        
                        Swal.fire({
                            position: "top-center",
                            icon: "error",
                            title: "Error al desactivar el usuario.",
                            showConfirmButton: false,
                            timer: 1500
                          });
                        // Manejo de errores
                    }
                });

                    }
                });

            }
            
            function getCSRFToken() {
                return document.querySelector('[name=csrfmiddlewaretoken]').value;
            }
        </script>
    {% endblock%}