{% extends "mazer/base.html" %}

{% block title%}
Agregar Usuarios  Active Directory
{% endblock title %}

{% block extra_css %}

<link rel="stylesheet" href="/static/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="/static/assets/compiled/css/table-datatable-jquery.css">

<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
<!-- Espacio para CSS adicional de plantillas hijas -->

{% endblock %}

{% block Encabezado %}
<h3> Usuarios  IDIAI:</h3>
<p >Su plataforma para agregar usuarios.</p>
{% endblock %}


{% block EncabezadoNav%}
Consulta IDIAI
{% endblock EncabezadoNav %}



{% block EncabezadoCard%}
{#Usuarios de IDIAI #}
{% endblock EncabezadoCard %}



{% block contenido %}
{#----------------------------------------------------------Codigo para mostrar los errores (Solo muestra el Ultimo error)  -------------------------------------------#}
    {% if messages %}
    <div>
        {% for message in messages %}
            {% if forloop.last %}
                <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %} 

{#----------------------------------------------------------Pestañas para las tablas  -------------------------------------------#}
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="all-tab" data-bs-toggle="tab" href="#all" role="tab"
                aria-controls="all" aria-selected="false">Todos</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link " id="home-tab" data-bs-toggle="tab" href="#home" role="tab"
                aria-controls="home" aria-selected="true">Administración</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
                aria-controls="profile" aria-selected="false">Ingeniería</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab"
                aria-controls="contact" aria-selected="false">DCASS</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pyes-tab" data-bs-toggle="tab" href="#pyes" role="tab"
                aria-controls="pyes" aria-selected="false">Proyectos Especiales</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="bajas-tab" data-bs-toggle="tab" href="#bajas" role="tab"
                aria-controls="bajas" aria-selected="false">Inactivo</a>
        </li>
       
    </ul>

{#--------------------------------------------------------- las tablas de datos  -------------------------------------------#}
    <div class="m-3">
        <a href="{% url 'nuevousuario'%}" class="btn btn-primary" onclick="mostrarSpinner()" ><i class="bi bi-person-plus-fill"></i> Crear Usuario IDIAI</a>
        </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab">
            <p class='my-2'>
                
                {% include 'tabla_IDIAI.html' with table_id='myTable1' users=usersAdmin %}



            </p>
        </div>


        
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <p class='my-2'>
                
                {% include 'tabla_IDIAI.html' with table_id='myTable2' users=usersIng %}
    
                </p>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <p class='my-2'>
                
                
                {% include 'tabla_IDIAI.html' with table_id='myTable3' users=usersDCASS %}
    
    
                </p>
        </div>
        <div class="tab-pane fade" id="pyes" role="tabpanel" aria-labelledby="contact-tab">
            <p class="mt-2">


                {% include 'tabla_IDIAI.html' with table_id='myTable4' users=usersPS %}





            </p>
        </div>


        <div class="tab-pane fade" id="bajas" role="tabpanel" aria-labelledby="bajas-tab">
            <p class="mt-2">

                {% include 'tabla_IDIAI.html' with table_id='myTable5' users=usersDown %}
   

            </p>
        </div>

        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
            <p class="mt-2">

                {% include 'tabla_IDIAI.html' with table_id='myTable6' users=users %}
   

            </p>
        </div>
    </div>






   
{#----------------------------------------------------------modal para crear usuario de Active Directory -------------------------------------------#} 
                        <div class="modal fade text-left" id="crearUserModal" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel33" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
                                    role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel33">+ Crear Usuario de Active Directory</h4>
                                    <button type="button" class="close" data-bs-dismiss="modal"
                                        aria-label="Close">
                                        <i data-feather="x"></i>
                                    </button>
                                </div>
                                <form  method="post" id="miFormulario">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                       

                                        <div class="row align-content-center " >
                                            
                                        <div class="col-6">
                                                <div class="mb-2">
                                                    <label for="nombre_inicio_sesion" class="form-label">Nombre de inicio de sesion de usuario:</label>
                                                    <input type="text" class="form-control" name="nombre_inicio_sesion" id="nombre_inicio_sesion" required >
                                                </div>
                                                <div class="mb-2">
                                                 
                                                <!--  <label for="nombre_usuario" class="form-label">Nombre de Usuario:</label>--> 
                                                    <input type="hidden" class="form-control" name="nombre_usuario" id="nombre_usuario" required >
                                                    <input type="hidden" class="form-control" name="distinguished_name" id="distinguished_name" required >
                                                </div>
                                        </div>

                                        
                                        <div class="col-6">
                                            <label for="nameProyecto" class="form-label">Proyecto :</label>
                                            <input type="text" class="form-control" name="nameProyecto" id="nameProyecto" required >

                                        </div>    
                        
                                        <div class="col-6">
                                            <div class="mb-2">
                                                <label for="nombre_pila" class="form-label">Nombre de pila:</label>
                                                <input type="text" class="form-control" name="nombre_pila" id="nombre_pila" required >
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="mb-2">
                                                <label for="apellido" class="form-label">Apellidos:</label>
                                                <input type="text" class="form-control" name="apellido" id="apellido" required>
                                            </div>
                                        </div>

                                        <div class="mb-2">
                                            <label for="nombre_completo" class="form-label">Nombre Completo:</label>
                                            <input type="text" class="form-control" name="nombre_completo" id="nombre_completo" required>
                                        </div>

                                        <div class="col-6">
                                            <div class="mb-2">
                                                <label for="departamento" class="form-label">Dirección:</label>
                                                <select class="form-control " name="departamento" id="departamento" >
    
                                                
                                                    {% for departamento in selectDepartamento %}
                                                    <option value="{{ departamento }}">{{ departamento.upper }}</option>
                                                    {% endfor %}
                                                    
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="mb-2">
                                                <label for="puesto" class="form-label">Puesto :</label>
                                                <input type="text" class="form-control" name="puesto" id="puesto" required>
                                            </div>
                                        </div>
                        
                        
                                        <div class="mb-2">
                                            <label for="email" class="form-label">Correo electronico :</label>
                                            <input type="email" class="form-control" name="email" id="email" required>
                                        </div>
                                      
                                        <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="password" class="form-label">Contraseña:</label>
                                                    <input type="password" class="form-control" name="password" id="password" required minlength="8">
                                                </div>
                                        </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="confirm_password" class="form-label">Confirmar Contraseña:</label>
                                                    <input type="password" class="form-control" name="confirm_password" id="confirm_password" required minlength="8">
                                                </div>
                                            </div>
                                          
                                        </div>
                                           

                                      

                                    </div>

                                
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-secondary"
                                            data-bs-dismiss="modal">
                                            <i class="bx bx-x d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Cerrar</span>
                                        </button>
                                        <button type="button" id="botonOculto" class="btn btn-secondary d-none" onclick="validarnuevoUsuario()" >Validar</button>
                                        <button type="submit" class="btn btn-primary" id="botonGuardar" >Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                     </div>
                        
{#----------------------------------------------------------modal de las llaves-------------------------------------------#}

<div class="modal fade text-left" id="verUserkeyModal" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel33" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
            role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel33">  <p id="nombreCompletokey"></p> </h4>
            <button type="button" class="close" data-bs-dismiss="modal"
                aria-label="Close">
                <i data-feather="x"></i>
            </button>
        </div>
       
            <div class="modal-body">
                         

            <div class="row " >
                    
                <div class="col-6">

                        <div class="mb-2">
                        <label for="nombre_usuariokey" class="form-label">Nombre de Usuario:</label>
                        
                        <input type="text" class="form-control" name="nombre_usuariokey" id="nombre_usuariokey" required readonly>
                        <input type="hidden" class="form-control" name="idmodelo" id="idmodelo"  >
                        <input type="hidden" class="form-control" name="nombreCompleto" id="nombreCompleto">
                        <input type="hidden" class="form-control" name="nombredireccion" id="nombredireccion">
    
                        </div>
                </div>
                <div class="col-6">




                    
                        <div class="mb-2">
                        <label for="usuariokey" class="form-label">Contraseña:</label>   
                        <input type="text" class="form-control" name="usuariokey" id="usuariokey" required >
                        </div> 
                </div> 

            </div>
        </div>
       

        
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger"
                data-bs-dismiss="modal" onclick="updateUserkey();" id="botonActualizar" name "botonActualizar">
               
                <span class="d-none d-sm-block">Actualizar</span>

             </button>
                <button type="button" class="btn btn-light-primary"
                    data-bs-dismiss="modal">
                   
                    <span class="d-none d-sm-block">Cerrar</span>

                 </button>
            </div>
    </div>
</div>
</div>




                            {% endblock %}

    {% block script %} 


    <script src="/static/assets/extensions/jquery/jquery.min.js"></script>
    <script src="/static/assets/extensions/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/assets/extensions/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="/static/assets/static/js/pages/datatables.js"></script>


    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
   
    <script>
        function addDomainIfEmpty(inputElement) {
            var nombreUsuarioInput = document.getElementById('nombre_inicio_sesion');

            if (inputElement.value.trim() === "") {
                inputElement.value = nombreUsuarioInput.value +"@grupo-iai.com.mx";
            }
        }

    





        document.addEventListener('DOMContentLoaded', function () {
            
            var form = document.getElementById('miFormulario');
            form.onsubmit = function (e) {
                var password = document.getElementById('password').value;
                var confirmPassword = document.getElementById('confirm_password').value;
                let botonGuardar = document.getElementById('botonGuardar');
                


                        
                // Validación del formato de la contraseña
                //  var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;   
                //  var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#\-])[A-Za-z\d@$!%*?&#\-]{8,}$/;
                // var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#\-()=¡])[A-Za-z\d@$!%*?&#\-()=¡]{8,}$/;
                var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#\-()=¡/.,_])[A-Za-z\d@$!%*?&#\-()=¡/.,_]{8,}$/;
                if (!regex.test(password)) {
                    Swal.fire({
                        title: "Formato de contraseña incorrecto",
                        text: "La contraseña debe tener al menos 8 caracteres, incluir mayúsculas, minúsculas, números y los siguientes símbolos especiales: @, $, !, %, *, ?, &, -, #, (, ), =, ¡, /, ., _.",
                        icon: "error",
                        confirmButtonText: 'Ok'
                    });
                    e.preventDefault();
                    document.getElementById('password').value="";
                    document.getElementById('confirm_password').value="";
                    botonGuardar.disabled = false;
                    botonGuardar.textContent = 'Guardar';
                    return false;
                }









                if (password != confirmPassword) {
                   // alert('Las contraseñas no coinciden.');
                   document.getElementById('confirm_password').value="";
                   document.getElementById('password').value="";
                    Swal.fire({
                        title: "¡Las contraseñas no coincide.!",
                        text: ". . .",
                        icon: "warning",  // 'success', 'error', 'warning', 'info', 'question'
                        confirmButtonText: 'Ok'
                    });
                    e.preventDefault();
                    
                    botonGuardar.disabled = false; // Deshabilita el botón para prevenir múltiples envíos
                    botonGuardar.textContent = 'Guardar'; // Opcional: Cambia el texto para indicar que se está procesando
                    return false;
                }
                mostrarSpinner()
                botonGuardar.disabled = true; // Deshabilita el botón para prevenir múltiples envíos
                botonGuardar.textContent = 'Guardando...'; // Opcional: Cambia el texto para indicar que se está procesando
                return true;
            };
        });
        $(document).ready(function() {
            var config = {
                "pageLength": 25,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ usuarios por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay usuarios disponibles",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "emptyTable": "No hay datos disponibles en la tabla",
                    "aria": {
                        "sortAscending": ": activar para ordenar la columna de manera ascendente",
                        "sortDescending": ": activar para ordenar la columna de manera descendente"
                    }
                },
                "dom": 'lBfrtip',
                "buttons": [
                    {
                        "extend": "excelHtml5",
                        "text": "Exportar a Excel",
                        "titleAttr": "Exportar a Excel",
                        "className": "btn btn-primary",
                        "filename": function(){
                            var d = new Date();
                            var fecha = d.toISOString().slice(0,10); // Fecha en formato AAAA-MM-DD
                            var hora = d.getHours();
                            var min = d.getMinutes();
                            var seg = d.getSeconds();
                            // Formatea la hora para siempre tener dos dígitos
                            hora = (hora < 10 ? "0" : "") + hora;
                            min = (min < 10 ? "0" : "") + min;
                            seg = (seg < 10 ? "0" : "") + seg;
                            return 'Usuarios_IDIAI_' + fecha + '_' + hora + min + seg; // Formato: Bitacora_AAAA-MM-DD_HHMMSS
                        }
                    }
                    // Puedes agregar más botones aquí si es necesario
                ],
            };
        
            $('#myTable1, #myTable2, #myTable3, #myTable4, #myTable5, #myTable6').DataTable(config);
        });

            function creartUser(button) {
                  // Utiliza data attributes para obtener la información
                    var nombre = button.getAttribute('data-nombre');
                    var nombrePila = button.getAttribute('data-nombrePila');
                    var apellidos = button.getAttribute('data-apellidos');
                    var puesto = button.getAttribute('data-puesto');
                    var nombreSesion = button.getAttribute('data-nombreSesion');
                    var nombreCompleto = button.getAttribute('data-nombreCompleto');
                    var email = button.getAttribute('data-email');
                    var departamento = button.getAttribute('data-deparamento');
                    var distinguishedName = button.getAttribute('data-distinguishedName');
                    var nombreProyecto =button.getAttribute('data-proyecto');
                    console.log("nombre : " + nombre);
                    console.log("nombre Sesion : " + nombreSesion);
                    // Rellena los campos del formulario en el modal
                    document.getElementById('nombre_usuario').value = nombre ;
                    document.getElementById('nombre_pila').value = nombrePila;
                    document.getElementById('apellido').value = apellidos;
                    document.getElementById('puesto').value = puesto;
                    document.getElementById('nombre_inicio_sesion').value = nombreSesion.toUpperCase();
                    document.getElementById('nombre_completo').value = nombreCompleto.toUpperCase();
                    document.getElementById('email').value = email.toUpperCase() ;
                    document.getElementById('nameProyecto').value = nombreProyecto ;
                    document.getElementById('confirm_password').value="";
                    document.getElementById('password').value="";

                    //document.getElementById('departamento').value = departamento ;
                    var selectElement = document.getElementById('departamento');
                    selectElement.value = departamento; // Cambia el valor como antes
                    // Crear y disparar el evento 'change' manualmente
                    
                    var event = new Event('change', { bubbles: true });
                    selectElement.dispatchEvent(event);
                    document.getElementById('distinguished_name').value =distinguishedName;
                    //console.log(departamento)// Abre el modal
                    var modal = new bootstrap.Modal(document.getElementById('crearUserModal'));
                    modal.show();
                    
                    verificarUsuario(nombreSesion);
            }

            function validarnuevoUsuario(){
                var nombre2 = document.getElementById('nombre_inicio_sesion').value;
                var nombre3 = document.getElementById('nombre_completo').value;
                document.getElementById('nombre_usuario').value =nombre3
                console.log("validar nombre : " + nombre3);
                console.log("validar Sesion : " + nombre2 );
                verificarUsuario(nombre2);
            }

            function verificarUsuario(nombreUsuario) {
                mostrarSpinner()
                document.getElementById('botonGuardar').disabled = true;
                fetch(`/verificar-usuario/${nombreUsuario}/`)
                .then(response => response.json())
                .then(data => {
                    let botonGuardar = document.getElementById('botonGuardar');
                    let botonOculto = document.getElementById('botonOculto');
                    if (data.existe) {
                        botonGuardar.disabled = true;
                        botonGuardar.innerText = "Usuario Existente"; // Cambia el texto
                        botonGuardar.classList.add('btn-danger');
                        botonGuardar.classList.remove('btn-primary');
                        ocultarSpinner() 
                        mensaje('¡Usuario existe  !','en Active Directory.','warning');
                        botonOculto.classList.remove('d-none');
                        botonOculto.classList.add('d-block');
                    } else {
                        ocultarSpinner() 
                        if (botonOculto.classList.contains('d-block')) {
                            botonOculto.classList.remove('d-block');
                            botonOculto.classList.add('d-none');
                        }

                       // mensaje('¡Usuario No existe !','en Active Directory.','success');
                        botonGuardar.disabled = false;
                        botonGuardar.innerText = "Guardar"; // Restablece el texto original o elige uno nuevo
                        botonGuardar.classList.add('btn-primary');
                        botonGuardar.classList.remove('btn-danger');
                        
                    }
                })
                
                .catch(error => console.error('Error:', error));
                }

            function verUserkey(button) {
                // Utiliza data attributes para obtener la información
                  mostrarSpinner()
                  var nombre = button.getAttribute('data-nombre');
                  var nombreCompleto = button.getAttribute('data-nombreCompleto');
                  var direccion = button.getAttribute('data-deparamento');
                  // Rellena los campos del formulario en el modal
                  document.getElementById('usuariokey').value = '**************';
                  document.getElementById('nombre_usuariokey').value = nombre ;
                  document.getElementById("nombreCompletokey").innerText =nombreCompleto ;
                  document.getElementById('nombreCompleto').value = nombreCompleto ;
                  document.getElementById('nombredireccion').value = direccion ;
                  
                  keyUsuario(nombre, nombreCompleto);
                  //var modal = new bootstrap.Modal(document.getElementById('verUserkeyModal'));
                  //modal.show();
          }

          function updateUserkey() {
            // Utiliza data attributes para obtener la información
              var nombre = document.getElementById('nombre_usuariokey').value;
              var nombreCompleto  = document.getElementById('nombreCompleto').value;
              // Rellena los campos del formulario en el modal
              
              ActualizarkeyUsuario(nombre, nombreCompleto);
              //var modal = new bootstrap.Modal(document.getElementById('verUserkeyModal'));
              //modal.show();
      }
            
              
      

           
           

           $('#crearUserModal').on('hidden.bs.modal', function () {
              $('.modal-backdrop').remove();
                  // Forzar el cuerpo del documento a ser scrollable
             $('body').css('overflow-y', 'auto');
           });
          

           function mensaje (ti,te,ico) {
            Swal.fire({
                title: ti,
                text: te,
                icon: ico
            });
        }
    

      

        function getCSRFToken() {
            return document.querySelector('[name=csrfmiddlewaretoken]').value;
        }

        function keyUsuario(nombreUsuario,nombreCompleto){
            // Preparar el cuerpo de la solicitud
            const datos = JSON.stringify({ nombre_usuario: nombreUsuario,nombre_completo: nombreCompleto });
        
            fetch(`/modulo-usuario/`, {
                method: 'POST', // Cambiar a método POST
                headers: {
                    'Content-Type': 'application/json',
                    // Incluir CSRF token si es necesario
                    'X-CSRFToken': getCSRFToken()// devuelve el valor de csrftoken correctamente
                },
                body: datos // Datos de la solicitud
            })
            .then(response => response.json())
            .then(data => {
                ocultarSpinner()
                let botonActualizar = document.getElementById('botonActualizar');
                let modulo = document.getElementById('usuariokey');
                let nombreusuario =document.getElementById('nombre_usuariokey');
                let idmodulo = document.getElementById('idmodelo');
                let titulomodal =document.getElementById('nombreCompletokey');
                if (data.existe) {
                    botonActualizar.disabled = false;
                    botonActualizar.innerText = "Actualizar Contraseña";
                    modulo.value = data.existe.modulo;
                    nombreusuario.value=data.existe.usuario ;
                    idmodulo.value = data.existe.id;
                    titulomodal.innerText = 'Usuario: ' +data.existe.nombre_completo;
                   
                } else {
                    ocultarSpinner()
                    titulomodal.innerText =  'Usuario no encontrado - Error 404';
                    modulo.value =' '
                    botonActualizar.disabled = true;
                    botonActualizar.innerText = "Actualizar";
                    Swal.fire({
                        title: '¡Usuario no existe !',
                        text: 'en el modulo.',
                        icon: "warning",  // 'success', 'error', 'warning', 'info', 'question'
                        confirmButtonText: 'Ok'
                    });
                }
            })
            .catch(error => console.error('Error:', error));
        }


        function ActualizarkeyUsuario(nombreUsuario,nombreCompleto){
              // Preparar el cuerpo de la solicitud
              mostrarSpinner()
              var contrasena  = document.getElementById('usuariokey').value;
              var setDireccion = document.getElementById('nombredireccion').value;
             //console.log("---------------------------------------")
             //console.log("Nombre de Usuario : " + nombreUsuario)
             //console.log("Contraseña : " + contrasena)
            // console.log("Nombre Completo : " + nombreCompleto)
             //console.log("Direccion  : " + setDireccion)
             //console.log("---------------------------------------")
              const datos = JSON.stringify({ direccion:setDireccion , keypass:contrasena, nombre_usuario:nombreUsuario,nombre_completo:nombreCompleto });
        
              fetch(`/modulo-update/`, {
                  method: 'POST', // Cambiar a método POST
                  headers: {
                      'Content-Type': 'application/json',
                      // Incluir CSRF token si es necesario
                      'X-CSRFToken': getCSRFToken()// devuelve el valor de csrftoken correctamente
                  },
                  body: datos // Datos de la solicitud
              })
              .then(response => response.json())
              .then(data => {
                  
                  if (data.existe) {
                    ocultarSpinner()
                    Swal.fire({
                        title: '¡ '+data.existe.titulo +'!',
                        text: ' -- ' + data.existe.statusModulo +' -- ' +data.existe.statusIDIAI+' -- ' +data.existe.statusAD ,
                        icon: data.existe.statusicon,  // 'success', 'error', 'warning', 'info', 'question'
                        confirmButtonText: 'Ok'
                    });
                     
                  } else {
                    ocultarSpinner()
                      Swal.fire({
                          title: '¡Usuario no Actualizado !',
                          text: 'error',
                          icon: "error",  // 'success', 'error', 'warning', 'info', 'question'
                          confirmButtonText: 'Ok'
                      });
                  }
              })
              .catch(error => console.error('Error:', error));
        }
        
 
            //identifar el navegador
           

            function createUniqueId() {
                return 'id_' + Math.random().toString(36).substr(2, 9);
            }
            
            function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = "expires="+d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            }
            
            // Comprobar si ya existe un ID del navegador
            var browserId = document.cookie.replace(/(?:(?:^|.*;\s*)browserId\s*\=\s*([^;]*).*$)|^.*$/, "$1");
            
            if (!browserId) {
                browserId = createUniqueId();
                setCookie('browserId', browserId, 365);
            }
            
          //  console.log("Browser ID: " + browserId);
          //JavaScript para Manejar el Envío del Formulario:
          document.addEventListener('DOMContentLoaded', function() {
            var formulario = document.getElementById('miFormulario');
            formulario.addEventListener('submit', function() {
                //var botonGuardar = document.getElementById('botonGuardar');
               // botonGuardar.disabled = true; // Deshabilita el botón para prevenir múltiples envíos
                //botonGuardar.textContent = 'Guardando...'; // Opcional: Cambia el texto para indicar que se está procesando
                
                // Aquí tu lógica para enviar el formulario, si haces algo más allá del envío normal
            });
        });
        document.addEventListener('DOMContentLoaded', function () {
            var nombreUsuarioInput = document.getElementById('nombre_inicio_sesion');
            var nombreInicioSesionInput = document.getElementById('nombre_inicio_sesion');
            var correoInput = document.getElementById('email');
            var dominioEmail = "@grupo-iai.com.mx"; // Puedes cambiar esto según sea necesario
        
            nombreUsuarioInput.addEventListener('input', function () {
                nombreInicioSesionInput.value = nombreUsuarioInput.value;
                correoInput.value = nombreUsuarioInput.value + dominioEmail.toUpperCase() ;
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var nombrePilaInput = document.getElementById('nombre_pila');
            var apellidoInput = document.getElementById('apellido');
            var nombreCompletoInput = document.getElementById('nombre_completo');
        
            function actualizarNombreCompleto() {
                nombreCompletoInput.value = nombrePilaInput.value + ' ' + apellidoInput.value;
                document.getElementById('nombre_usuario').value =nombreCompletoInput.value;
            }
        
            nombrePilaInput.addEventListener('input', actualizarNombreCompleto);
            apellidoInput.addEventListener('input', actualizarNombreCompleto);
        });
        
            
            //fin de identificar el navegador 
        </script>

        {% if mensaje %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                Swal.fire({
                    title: "{{ mensaje.titulo }}",
                    text: "{{ mensaje.texto }}",
                    icon: "{{ mensaje.tipo }}",  // 'success', 'error', 'warning', 'info', 'question'
                    confirmButtonText: 'Ok'
                });
            });
        </script>
        {% endif %}

        
    {% endblock%}