<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Grupo IAI</title>
    
    
    
    <link rel="shortcut icon" href="/static/icon/icono.ico" type="image/x-icon">
    <link rel="icon" href="/static/icon/icono.ico" type="image/x-icon">
  <link rel="stylesheet" href="/static/assets/compiled/css/app.css">
  <link rel="stylesheet" href="/static/assets/compiled/css/app-dark.css">
  <link rel="stylesheet" href="/static/assets/compiled/css/auth.css">

</head>

<body onload="checkMonthAndRun()">
    <script src="/static/assets/static/js/initTheme.js"></script>
    <div id="auth">
        
<div class="row h-100">
    <div class="col-lg-5 col-12">
        <div id="auth-left">
            <div class="auth-logo">
                <a href="#"><img src="/static/img/logo2.png" alt="Logo"></a>
            </div>
            <h1 class="auth-title">Bienvenido</h1>
            <p class="auth-subtitle mb-5">Iniciar sesión</p>

            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group position-relative has-icon-left mb-4">
                    <input type="text" class="form-control form-control-xl"  name="username" placeholder="Usuario">
                    <div class="form-control-icon">
                        <i class="bi bi-person"></i>
                    </div>
                </div>
                <div class="form-group position-relative has-icon-left mb-4">
                    <input type="password" class="form-control form-control-xl"  name="password" placeholder="Contraseña">
                    <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                    </div>
                </div>
                <div class="form-check form-check-lg d-flex align-items-end">
                    <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label text-gray-600" for="flexCheckDefault">
                       Mantenme conectado 
                    </label>
                </div>
                <button class="btn btn-success btn-block btn-lg shadow-lg mt-5" >Iniciar</button>
            </form>
            <div class="text-center mt-5 text-lg fs-4">
                <p class="text-gray-600">¿No tienes una cuenta? <a href="#" class="font-bold">Solicitar</a>.</p>
                <p><a class="font-bold" href="#">¿Olvidaste tu contraseña?</a>.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
        <div id="auth-right">
            
        </div>
        
    </div>
</div>

    </div>
    <script>

        function checkMonthAndRun() {
            var currentDate = new Date();
            var currentMonth = currentDate.getMonth(); // en JavaScript, Enero es 0, Diciembre es 11
        
            if (currentMonth === 11) { // Diciembre
                iniNevada(100, 80);
            } else if (currentMonth === 1 && currentDay === 14) { // 14 de Febrero
                //iniCorazones(25, 80);
            }
        }
       // COPO DE NIEVE 
        class oCopo{
          constructor(tam, id){
             this.x = 0;
             this.y = 0;
             this.size = tam;
             this.nombre = id
             this.obj = document.createElement("div");
             this.obj.setAttribute('id',id);
             this.obj.innerText="*";
             this.obj.style.position = "absolute";
             this.obj.style.fontSize = tam+"px";
             this.obj.style.color = "white";
             document.body.appendChild(this.obj)
        }
        dibujar(x,y){
             this.x = x;
             this.y = y;
             this.obj.style.top = this.y+"px";
             this.obj.style.left = this.x+"px";
             }
        }
        function iniCopos(num, anc, alto){
           var copos = new Array(num);
           var tam, x, y;
           for (let i = 0; i<num; i++)
             {
             tam = Math.round(Math.random()*10)+ 8;
             copos[i] = new oCopo(tam, "c"+i);
             x = parseInt(Math.random()*anc);
             y = parseInt(Math.random()*alto);
             copos[i].dibujar(x,y);
             }
        return copos;
        }
        function iniNevada(num, vel)
        {
        var ancho = document.body.offsetWidth-10;
        var alto = window.innerHeight-10;
        var losCopos = iniCopos(num, ancho, alto)
        nevar(losCopos, ancho,alto, vel);

        
        } 
        function nevar(copos, coposAncho, coposAlto, vel)
        {
        var x, y;
        for (let i = 0; i < copos.length; i++)
            {
            y = copos[i].y;
        x = copos[i].x;
            if (Math.random() > 0.5)
                y += parseInt(Math.random()+1);
            y += parseInt(Math.random()+2);
            if (y >= (coposAlto - copos[i].size))
                {
                y = Math.round(Math.random()*10);
                x  =parseInt(Math.random()*coposAncho-1); 
                }
        copos[i].dibujar(x,y); 
            }
        setTimeout(nevar, vel, copos,  coposAncho, coposAlto, vel);
        }

        //CORAZONES 
        function oCorazon(tam, id) {
            this.x = 0;
            this.y = 0;
            this.size = tam;
            this.nombre = id;
            this.obj = document.createElement("div");
            this.obj.setAttribute('id', id);
            this.obj.innerText = "❤️";
            this.obj.style.position = "absolute";
            this.obj.style.fontSize = tam + "px";
            this.obj.style.color = "red";
            document.body.appendChild(this.obj);
        }
        
        function iniCorazones(num, vel) {
            var ancho = document.body.offsetWidth - 10;
            var alto = window.innerHeight - 10;
            var losCorazones = iniObjetos(num, ancho, alto, oCorazon);
            caer(losCorazones, ancho, alto, vel);
        }
        
        function iniObjetos(num, anc, alto, tipoObjeto) {
            var objetos = new Array(num);
            var tam, x, y;
            for (let i = 0; i < num; i++) {
                tam = Math.round(Math.random() * 20) + 15;
                objetos[i] = new tipoObjeto(tam, "o" + i);
                x = parseInt(Math.random() * anc);
                y = parseInt(Math.random() * alto);
                objetos[i].dibujar(x, y);
            }
            return objetos;
        }
        
        function caer(objetos, objetosAncho, objetosAlto, vel) {
            var x, y;
            for (let i = 0; i < objetos.length; i++) {
                y = objetos[i].y;
                x = objetos[i].x;
                y += parseInt(Math.random() * 2) + 1;
                if (y >= (objetosAlto - objetos[i].size)) {
                    y = Math.round(Math.random() * 10);
                    x = parseInt(Math.random() * objetosAncho - 1);
                }
                objetos[i].dibujar(x, y);
            }
            setTimeout(caer, vel, objetos, objetosAncho, objetosAlto, vel);
        }
        
        oCorazon.prototype.dibujar = function (x, y) {
            this.x = x;
            this.y = y;
            this.obj.style.top = this.y + "px";
            this.obj.style.left = this.x + "px";
        };









        </script>

</body>

</html>